div.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    outline: solid var(--details);
    border-radius: 1rem 1rem 1rem 1rem;
    /*box-shadow: rgba(100,100,111, 0.2) 0px 7px 29px 0px;*/
    width: 20rem;
    transition: .3s transform ease-in-out;
    -webkit-transition: .3s transform ease-in-out;
    -moz-transition: .3s transform ease-in-out;
    -ms-transition: .3s transform ease-in-out;
    -o-transition: .3s transform ease-in-out;
    overflow: hidden;
}

div.Card hr {
    border:none;
    width: 80%;
    outline: thin solid var(--details);
}

div.Card:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

header.Card__header {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: solid var(--details);
    border-left: solid var(--details);
    border-right: solid var(--details); */
}

header.Card__header .Card__header-icon {
    color: var(--accent-color);
    font-size: 10rem;
    transition: .3s transform ease-in-out;
    -webkit-transition: .3s transform ease-in-out;
    -moz-transition: .3s transform ease-in-out;
    -ms-transition: .3s transform ease-in-out;
    -o-transition: .3s transform ease-in-out;
}

div.Card:hover .Card__header-icon {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

/* footer.Card__footer {
    background-color: var(--accent-color);
    border-radius: 0 0 1rem 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
} */

footer.Card__footer {
    color: var(--quaternary-color);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-bottom: 1px solid hsl(0, 0%, 0%);
    */
}

footer.Card__footer h3.Card__footer-heading {
    font-size: 2.5rem;

    /* color: hsl(0, 0%, 100%);
    background-color: var(--accent-color);
    border-radius: 0.5rem;
    padding: 0.5rem; */
}
