@import url('themes/color-scheme.css');

h1.form-header {
    font-size: 2.5em;
    font-weight: 400;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1em;
}

button.form-btn {
    border: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
    border-radius: 0.5em;
    margin: 2em;
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    background-color: var(--primary-color);
    display: block;
}

button.form-btn:hover {
    color: var(--primary-color);
    background-color: hsl(0, 0%, 100%);
}

input {
    border: 1px solid var(--primary-color);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
    font-size: 1.5rem;
    display: block;
    caret-color: var(--quaternary-color);
}

input:focus {
    outline: none;
    border: 1px solid var(--quaternary-color);
}

input:is(:not(:placeholder-shown):valid) {
    border: 1px solid var(--secondary-color);
    caret-color: var(--secondary-color);
}

/* input:is(:not(:focus)):valid:not(:placeholder-shown) {
    border: 1px solid var(--secondary-color);
    caret-color: var(--secondary-color);
} */

input:is(:not(:placeholder-shown):invalid) {
    border: 1px solid var(--tertiary-color);
    caret-color: var(--tertiary-color);
}

input:is(:not(:focus)):invalid:not(:placeholder-shown) {
    border: 1px solid var(--tertiary-color);
    caret-color: var(--tertiary-color);
    animation: shake 0.5s;
}

@keyframes shake {
    25% {
        transform: translateX(4px);
    }
    50% {
        transform: translateX(-4px);
    }
    75% {
        transform: translateX(4px);
    }
}

select {
    cursor: pointer;
    border: 1px solid var(--primary-color);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
    font-size: 1.5rem;
    /* display: block; */
    caret-color: var(--quaternary-color);
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background: url("/uploads/media/default/0001/02/f7b4d3d2ba3fe1d8518e6e63d7740e1e73921abf.png") 96% / 15% no-repeat #eee; */
}

select:focus/* , select:active */ {
    outline: none;
    /* box-shadow: none; */
    border: 1px solid var(--quaternary-color);
}

select:focus-visible {
    /* outline: 5px solid green; */
    border: 1px solid var(--secondary-color);
}

select:has(option:checked)/* :is(:not(first-child)) */ {
    border: 1px solid var(--secondary-color);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 0.5em;
    width: fit-content;
    height: fit-content;
    margin: 2em auto;
    padding: 0 3em;
}

/* .form > * {
    margin: 1em;
} */

/* .form > *:not(:last-child) {
    margin-bottom: 1em;
} */

/* .input-password::selection {
    background-color: #ff;
}

.input-password::selection {
    background-color: #ff;
} */

/* ::-webkit-validation-bubble, ::-webkit-validation-bubble-arrow-clipper, ::-webkit-validation-bubble-arrow, ::-webkit-validation-bubble-message {
    background-color: var(--tertiary-color);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    font-size: 1.5rem;
} */
