.btn {
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    margin: 2em;
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    background-color: var(--primary-color);

    display: block;
}

.btn:hover {
    color: var(--primary-color);
    background-color: hsl(0, 0%, 100%);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

/* .btn + .btn {
    margin-bottom: 2rem;
} */
