.btn {
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    background-color: var(--tertiary-color);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.btn:hover, .btn:focus, .btn:active {
    outline: none;
    /* color: var(--tertiary-color);
    outline: solid var(--tertiary-color);
    background-color: hsl(0, 0%, 100%); */
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}
