@import url('themes/color-scheme.css');

div.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.logo-container img.logo-login {
    width: 10em;
    height: 10em;
    position: absolute;
    top: 8.5em;
    z-index: 100;
}

div.logo-container a {
    margin-right: 9.5em;
}

form.form-login {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2.5em;
    border: 3px solid var(--primary-color);
    border-radius: 0.5em;
    width: fit-content;
    height: fit-content;
    padding-top: 4.5em;
    position: relative;
    margin-top: 6em;
}

div.form-input-login {
    margin-left: 2em;
    margin-right: 2em;
    position: relative;
}

input.input-login:is([type=email], [type=password]) {
    border: 2px solid var(--primary-color);
    border-radius: 0.5em;
    padding: 1em 1.5em;
    /*margin: 1em;
    */font-size: 1.5rem;
    text-align: center;
    display: inline-block;
    caret-color: var(--quaternary-color);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

input.input-login:focus:is([type=email], [type=password]) {
    outline: none;
    border: 2px solid var(--quaternary-color);
}

/* /////////////////////////////////////////////////////////// */

/* VALIDATION SECTION */

input.input-login[type=email]:is(:not(:placeholder-shown):valid) + .form-validation-status-success {
    opacity: 1;
    color: var(--secondary-color);
}

input.input-login[type=email]:is(:not(:placeholder-shown):invalid) ~ .form-validation-status-error {
    opacity: 1;
    color: var(--tertiary-color);
}

@supports selector(:has(*)) {
    fieldset:has(input.input-login:focus) label {
        color: var(--quaternary-color);
    }
    
    fieldset:has(input.input-login[type=email]:is(:not(:placeholder-shown):valid)) > label {
        color: var(--secondary-color);
    }
    
    fieldset:has(input.input-login[type=email]:is(:not(:placeholder-shown):invalid)) > label {
        color: var(--tertiary-color);
    }
    
    div.form-input-login:has(input.input-login[type=email]:is(:not(:focus)):invalid:not(:placeholder-shown)) + span.form-input-error {
        display: block;
    }
}

input.input-login[type=email]:is(:not(:placeholder-shown):valid) {
    border: 2px solid var(--secondary-color);
    caret-color: var(--secondary-color);
}

input.input-login[type=email]:is(:not(:placeholder-shown):invalid) {
    border: 2px solid var(--tertiary-color);
    caret-color: var(--tertiary-color);
}

/* * @note: shake after deselect an input */
input.input-login[type=email]:is(:not(:focus)):invalid:not(:placeholder-shown) {
    border: 2px solid var(--tertiary-color);
    caret-color: var(--tertiary-color);
    animation: shake 0.5s;
}

@keyframes shake {
    25% {
        transform: translateX(4px);
    }
    50% {
        transform: translateX(-4px);
    }
    75% {
        transform: translateX(4px);
    }
}

/* /////////////////////////////////////////////////////////// */

span.new-account {
    /* margin-top: 1em;
    margin-bottom: 1em; */
    text-align: center;
    font-size: 1.2rem;
}

span.new-account a {
    color: var(--tertiary-color);
    text-decoration: none;
}

form.form-login footer.form-footer-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
}

button.form-btn-submit-login {
    border: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
    border-radius: 0.5em;
    margin: 1.5em;
    font-size: 1.5rem;
    /**@notechangedesign*/color: var(--primary-color);
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

button.form-btn-submit-login:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}
