div.pages {
    padding: 0.3rem;
    border-radius: .50rem;
    margin: 1rem auto;
    width: fit-content;
    background-color: var(--main-color);
    color: var(--text-color);
}

div.paginationButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div.paginationButtons button, div.paginationButtons input[type="number"] {
    border: none;
    cursor: pointer;
    padding: 0.6rem;
    border-radius: .50rem;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: bold;
    position: relative;
}
