.Navbar {
    height: 8vh;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    /* border-bottom: 1px solid var(--bg-color-light);
    position: relative;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; */
}

.Navbar-container {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Navbar-container li.Navbar-item:first-child {
    margin-right: auto;
}

.Navbar-container li.Navbar-item:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Navbar-icon-menu-hamburger {
    font-size: 2rem;
    color: var(--details);
    cursor: pointer;
}

/* div.menu-hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
}

div.menu-hamburger > div {
    width: 100%;
    height: 0.35rem;
    background-color: var(--details);
    border-radius: 0.5rem;
    transition: all .3s ease-in-out;
    transform-origin: left;
}

div.menu-hamburger:hover div:first-child {
    transform: rotate(35deg);
}

div.menu-hamburger:hover div:nth-child(2){
    opacity: 0;
}

div.menu-hamburger:hover div:last-child {
    transform: rotate(-35deg);
} */

.Navbar-item:nth-child(2), .Navbar-item:last-child {
    width: calc(8vh * 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

li.Navbar-item img {
    height: 100%;
    width: 100%;
}

.imgProfile {
    max-width: 10px;
    max-height: 10px;
    aspect-ratio: 1/1;
    border-radius: 75%;
    object-fit: cover;

}

.Navbar-item:nth-child(3)> span {
    max-width: 70ch;
    background-color: var(--bg-color-light);
    border: 0.5px solid var(--details);
    padding: 0.5rem 0.8rem;
    border-radius: 1.5rem;
}

.Navbar-item-circle {
    --Navbar-link-circle-bg: calc(8vh * 0.5);
    width: var(--Navbar-link-circle-bg);
    height: var(--Navbar-link-circle-bg);
    cursor: pointer;
    border: 1px solid var(--details);
    color: var(--details);
    background-color: var(--bg-color-light);
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
    /* transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out; */
    transition: filter 0.3s;
}

/* .Navbar-link:hover { */
    /* background-color: #f1c40f; */
    /* filter: brightness(1.2);
} */

.Navbar-icon {
    font-size: 1.5rem;
}

.Navbar-dropdown {
    list-style: none;
    position: absolute;
    top: 7vh;
    width: 15vw;
    transform: translateX(-35%);
    background-color: hsl(0, 0%, 100%);
    border: 1px solid var(--details);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.Navbar-dropdown-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    /* margin: 0.5rem 0; */
    /* border-radius: 0.5rem; */
    transition: background-color 0.3s ease-in-out;
}

.Navbar-dropdown-item-legend {
    /* font-size: 1.2rem;
    font-weight: 500; */
    color: var(--bg-color-dark);
}

.Navbar-dropdown-item:hover {
    background-color: var(--bg-color-light);
}

/* @media (prefers-color-scheme: dark) {
    .Navbar {
        background-color: #1a1a1a;
        border-bottom: 1px solid #474a4d;
    }

    .Navbar-item-circle {
        border: 1px solid #474a4d;
        color: #474a4d;
        background-color: #1a1a1a;
    }

    .Navbar-dropdown {
        background-color: #1a1a1a;
        border: 1px solid #474a4d;
    }

    .Navbar-dropdown-item {
        color: #474a4d;
    }

    .Navbar-dropdown-item:hover {
        background-color: #474a4d;
    }
} */

.Navbar-dropdown-item-checkboxes {
    width: 100%;
    display: flex;
    /* gap: 0.5rem; */
    justify-content: space-around;
    align-items: center;
}

input.theme-yellow + label > .theme-yellow-icon {
    color: #FE921D;
}

input.theme-green + label > .theme-green-icon {
    color: #0DB14B;
}

input.theme-red + label > .theme-red-icon {
    color: #ED1A3B;
}

ul.Navbar-dropdown li.Navbar-dropdown-item:is(:first-child, :nth-child(2)){
    border-bottom: 1px solid var(--details);
}

ul.Navbar-dropdown li.Navbar-dropdown-item:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}

ul.Navbar-dropdown li.Navbar-dropdown-item:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}

input.appearance-light + label > .appearance-light-icon {
    color: hsl(0, 0%, 100%);
    outline: thin solid var(--details);
    border-radius: 50%;
}

input.appearance-dark + label > .appearance-dark-icon {
    color: hsl(0, 0%, 0%);
    outline: thin solid var(--details);
    border-radius: 50%;
}

.Navbar-dropdown-item-checkboxes input, .Navbar-dropdown-item-checkboxes label {
    cursor: pointer;
}

.Navbar-dropdown-item-checkboxes input.theme-yellow {
    accent-color: var(--primary-color);
}

.Navbar-dropdown-item-checkboxes input.theme-green {
    accent-color: var(--secondary-color);
}

.Navbar-dropdown-item-checkboxes input.theme-red {
    accent-color: var(--tertiary-color);
}

/* .Navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
    color: #dadce1;
    text-decoration: none;
    transition: 0.3s;
} */

/* .navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 20%;
    padding: 0 20px;
    background-color: #1a1a1a;
    border-right: 1px solid white;
}

.navbar-logo > img {
    height: 100%;
}

.navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 80%;
} */

/* .navbar-menu > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar-menu > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    border-left: 1px solid white;
}

.navbar-menu > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.navbar-menu > ul > li > a:hover {
    color: #f1c40f;
} */
