.Sidebar {
    width: 8vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--main-color);
    border-right: 1px solid var(--bg-color);
    /* box-shadow: 0 0 10px 0 black; */
    /* background-color: #1a1a1a; */
    /*z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    */
    transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
}

.Sidebar > ul.Sidebar-container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 0 .5rem;
}

.nav-item {
    width: 100%;
}

/* li.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:calc(100% * 0.1);
} */

li.nav-item .nav-dot {
    font-size: .5rem;
    display: none;
}

/* .nav-item:last-child {
    margin-top: auto;
} */

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--details);
    padding: 1rem;
}

.nav-link.active {
    background-color: var(--accent-color);
    color:hsl(0, 0%, 100%);
    font-weight: bold;
    border-radius: .5em;
}

li.nav-item:has(.nav-link.active) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:calc(100% * 0.1);
}

li.nav-item:has(.nav-link.active) .nav-dot {
    color: var(--accent-color);
    display: block;
}

.nav-link:hover:not(.nav-link.active), .nav-link:focus:not(.nav-link.active) {
    outline: none;
    background-color: var(--bg-color);
    border-radius: .5em;
}

.nav-link:focus:is(.nav-link.active) {
    outline: none;
}

.nav-icon {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.link-text {
    font-size: 1.2rem;
    display: none;
    /* margin-left: 1rem; */
}

.Sidebar:hover {
    width: 9vw;
}

.Sidebar:hover span.link-text {
    display: inline-block;
    /* transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; */
}

/* /////////////////////////////////////////////////////////// */

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 900px) {
    .Sidebar {
        top: calc(100% - 13vw);
        bottom: 0;
        width: 100vw;
        height: 13vh;
}
    
    .Sidebar > ul.Sidebar-container {
        flex-direction: row;
    }

    ul.Sidebar-container li.nav-item:first-child {
        display: none;
    }

    ul.Sidebar-container li.nav-item .nav-dot-container {
        display: none;
    }

    .link-text {
        display: inline-block;
    }

    /* li.nav-item:has(.nav-link.active) {
        flex-direction: column-reverse;
    } */
}

