@import url('themes/color-scheme.css');

h1.form-header {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1em;
}

/* * @note: main grid div for center form */
div.grid {
    display: grid;
    place-items: center;
    margin-bottom: 2.5em;
}

form.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(800px, 2fr)); */
    /* place-items: center; */
    grid-gap: 2.5em;
    border: 3px solid var(--primary-color);
    border-radius: 0.5em;
    width: fit-content;
    height: fit-content;
    padding: 3.5em 2em 0;
}

/* * @note: form content */
.form > fieldset.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

fieldset.form-group {
    border: none;
    padding: 0;
    margin: 0;
}

label.form-label {
    display: block;
    font-size: 1.5em;
    font-weight: 550;
    color: var(--primary-color);
    text-align: center;
    cursor: pointer;
    margin-bottom: 0.5em;
}

div.form-input {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* text-align: center; */
    position: relative;
}

input.input-signup {
    border: 2px solid var(--primary-color);
    border-radius: 0.5em;
    padding: 1em 1.5em;
    /*margin: 1em;*/
    font-size: 1.5rem;
    text-align: center;

    display: inline-block;
    caret-color: var(--quaternary-color);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

/* input.form-input {
    display: block;
    width: 100%;
    height: 2em;
    border: 1px solid var(--primary-color);
    border-radius: 0.5em;
    padding: 0 0.5em;
    font-size: 1.5em;
    font-weight: 550;
    color: var(--primary-color);
    cursor: pointer;
} */

input.input-signup:focus {
    outline: none;
    border: 2px solid var(--quaternary-color);
}

select {
    cursor: pointer;
    border: 1px solid var(--primary-color);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
    font-size: 1.5rem;
    /* display: block; */
    caret-color: var(--quaternary-color);
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background: url("/uploads/media/default/0001/02/f7b4d3d2ba3fe1d8518e6e63d7740e1e73921abf.png") 96% / 15% no-repeat #eee; */
}

select:focus/* , select:active */ {
    outline: none;
    /* box-shadow: none; */
    border: 1px solid var(--quaternary-color);
}

select:focus-visible {
    /* outline: 5px solid green; */
    border: 1px solid var(--secondary-color);
}

select:has(option:checked)/* :is(:not(first-child)) */ {
    border: 1px solid var(--secondary-color);
}

span.form-input-error {
    font-size: 1.2em;
    color: var(--tertiary-color);
    font-weight: 500;
    text-align: center;
    margin-top: 0.5em;
    display: none;
}

span.form-input-error-useState {
    font-size: 1.2em;
    color: var(--tertiary-color);
    font-weight: 500;
    margin-top: 0.5em;
    text-align: center;
}

.form-validation-status-success, .form-validation-status-error {
    position: absolute;
    right: 1em;
    top: 1.65em;
    font-size: 1.2em;
    color: var(--tertiary-color);
    z-index: 100;
    opacity: 0;
    /* display: none; */
}

form.form hr {
    grid-column: span 2;
    border: 1.5px solid var(--primary-color);
    margin: 1em 0;
}

form.form footer.form-footer {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    /* * @note change design */
    /* background-color: var(--primary-color); */
}

@media (prefers-color-scheme: light) {
    footer.form-footer label.form-label {
        color: var(--quinary-color);
        font-size: 1.3em;
    }
}

@media (prefers-color-scheme: dark) {
    footer.form-footer label.form-label {
        color: hsl(0, 0%, 100%);
        font-size: 1.3em;
    }
}

footer.form-footer a/* , footer.form-footer a:hover, footer.form-footer a:active */ {
    text-decoration: none;
    color: var(--tertiary-color);
    
    /* transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease; */
}

/* /////////////////////////////////////////////////////////// */

/* VALIDATION SECTION */

/* ! @note: don't work properly */
/* fieldset:is(:not(:placeholder-shown):valid) > label {
    color: var(--secondary-color);
}

fieldset:is(:not(:placeholder-shown):invalid) > label {
    color: var(--tertiary-color);
} */

input.input-signup:is(:not(:placeholder-shown):valid) + .form-validation-status-success {
    opacity: 1;
    color: var(--secondary-color);
}

input.input-signup:is(:not(:placeholder-shown):invalid) ~ .form-validation-status-error {
    opacity: 1;
    color: var(--tertiary-color);
}

@supports selector(:has(*)) {
    fieldset:has(input.input-signup:focus) label {
        color: var(--quaternary-color);
    }
    
    fieldset:has(input.input-signup:is(:not(:placeholder-shown):valid)) > label {
        color: var(--secondary-color);
    }
    
    fieldset:has(input.input-signup:is(:not(:placeholder-shown):invalid)) > label {
        color: var(--tertiary-color);
    }
    
    div.form-input:has(input.input-signup:is(:not(:focus)):invalid:not(:placeholder-shown)) + span.form-input-error {
        display: block;
    }
}

/* ? @note: is there any way to go up in selectors */
/* input:is(:not(:placeholder-shown):invalid) + span.form-input-error {
    display: block;
} */

input.input-signup:is(:not(:placeholder-shown):valid) {
    border: 2px solid var(--secondary-color);
    caret-color: var(--secondary-color);
}

input.input-signup:is(:not(:placeholder-shown):invalid) {
    border: 2px solid var(--tertiary-color);
    caret-color: var(--tertiary-color);
}

/* * @note: shake after deselect an input */
input.input-signup:is(:not(:focus)):invalid:not(:placeholder-shown) {
    border: 2px solid var(--tertiary-color);
    caret-color: var(--tertiary-color);
    animation: shake 0.5s;
}

@keyframes shake {
    25% {
        transform: translateX(4px);
    }
    50% {
        transform: translateX(-4px);
    }
    75% {
        transform: translateX(4px);
    }
}

footer.form-footer div.form-invalid-submit-message {
    font-size: 1.2em;
    color: hsl(0, 0%, 100%);
    background-color: var(--tertiary-color);
    font-weight: 500;
    border-radius: 0.5em;
    padding: 1em 0.5em;
    display: none;
}

footer.form-footer  div.form-invalid-submit-message-show {
    display: inline-block;
}

/* /////////////////////////////////////////////////////////// */

button.form-btn-submit {
    border: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
    border-radius: 0.5em;
    margin: 1.5em;
    font-size: 1.5rem;

    /* * @note change design */
    /* color: var(--primary-color);
    background-color: hsl(0, 0%, 100%); */

    color: hsl(0, 0%, 100%);
    background-color: var(--primary-color);
    width: 80%;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

/* button.form-submit {
    grid-column: 1 / 3;
    border: 1.5px solid var(--primary-color);
    border-radius: 0.5em;
    padding: 1em; */
    /*margin: 1em;
    *//* font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
} */

button.form-btn-submit:hover {
    color: var(--primary-color);
    background-color: hsl(0, 0%, 100%);

    /* * @note change design */
    /* color: hsl(0, 0%, 100%);
    background-color:  var(--primary-color); */
   /*  box-shadow: 3px 0px 30px 0px var(--primary-color); */
}

/* input:is(:not(:focus)):valid:not(:placeholder-shown) {
    border: 1px solid var(--secondary-color);
    caret-color: var(--secondary-color);
} */

/* .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 0.5em;
    width: fit-content;
    height: fit-content;
    margin: 2em auto;
    padding: 0 3em;
} */

/* .form > * {
    margin: 1em;
} */

/* .form > *:not(:last-child) {
    margin-bottom: 1em;
} */

/* .input-password::selection {
    background-color: #ff;
}

.input-password::selection {
    background-color: #ff;
} */

/* ::-webkit-validation-bubble, ::-webkit-validation-bubble-arrow-clipper, ::-webkit-validation-bubble-arrow, ::-webkit-validation-bubble-message {
    background-color: var(--tertiary-color);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    font-size: 1.5rem;
} */

/* /////////////////////////////////////////////////////////// */

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 900px) {
    form.form {
        grid-template-columns: 1fr;
    }
    
    form.form hr {
        grid-column: span 1;
        margin: 1em 2em;
    }
    
    form.form footer.form-footer {
        grid-column: span 1;
    }

    button.form-btn-submit {
        width: 50%;
    }
}
