div.text-question {
    display: flex;
    flex-direction: column;
    /*align-items: center;
    *//*justify-content: center;
    */padding: 2em;
    border-radius: .5em;
    background-color: var(--main-color);
    gap: 1em;
}

span.question-text, p.answer-text {
    font-size: 1.5em;
    padding: 1em;
    border-radius: .5em;
}

span.question-text {
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--bg-color);
    max-width: max-content;
}

p.answer-text {
    background-color: var(--details);
    color: var(--text-color);
    max-width: max-content;
}
