div.Filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
}

div.Filter select.Sort {
    outline: none;
    border: 1px solid var(--details);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}
