div.filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
}

div.filter select.sort {
    outline: none;
    border: 1px solid var(--details);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}

div.volunteers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    place-items: center;
    /* background-color: #f5f5f5; */
}
