:root {
    --primary-color: #FE921D;
    --secondary-color: #0DB14B;
    --tertiary-color: #ED1A3B;
    --quaternary-color: #AE3C06;
    --quinary-color: #58595B;
    --bg-color-light: #f5f5f5;
    --bg-color-dark: #1e1e1e;
    --details: #c0c0c0;
    /* --bg-color-dark: #1a1a1a;
    --text-color-light: #dadce1;
    --text-color-dark: #fff; */
    color-scheme: light dark;
    accent-color: var(--tertiary-color);
}

/* * @note: prefers-color-scheme: dark */
::selection {
    background-color: var(--tertiary-color);
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--bg-color-light);
    }

    ::selection {
        background-color: var(--tertiary-color);
        color: hsl(0, 0%, 100%);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-color-dark);
    }
}
