<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mx.tec.prototipo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/_e8827daba0aa_logo"
        android:label="Sistema de encuestas móvil"
        android:roundIcon="@drawable/_e8827daba0aa_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prototipo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Inicio"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Create"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".BottomNavigation"
            android:exported="false"
            >
        </activity>
        <activity
            android:name=".AvisoPrivacidad"
            android:exported="false"
            >
        </activity>

        <activity
            android:name=".EncuestaContainer"
            android:exported="false">
        </activity>

        <activity
            android:name=".letreroFinal"
            android:exported="false">
        </activity>

    </application>

</manifest>